{% extends 'SNS/auth.html' %}

{% block authContent %}
  {% for post in post_list %}
      <div class="post">
          <div class="date">
            <p>author:
              <a href="{% url 'user_post' pk=post.author.pk %}">
                {{ post.author }}
              </a>
             </p>
            <p><small>published: {{ post.pub_date }}</small></p>
            <p>text:
              <a href="{% url 'post_detail' pk=post.pk %}">
                {{ post.text }}
              </a>
            </p>
            {% if post in user.customuser.likes.all %}
              <a class="btn btn-default" href="{% url 'remove_like' pk=post.pk %}">remove Like</a>
            {% else %}
              <a class="btn btn-default" href="{% url 'add_like' pk=post.pk %}">Like</a>
            {% endif %}

            {% if post in user.customuser.reposts.all %}
              <a class="btn btn-default" href="{% url 'remove_repost' pk=post.pk %}">remove Repost</a>
            {% else %}
              <a class="btn btn-default" href="{% url 'add_repost' pk=post.pk %}">Repost</a>
            {% endif %}
            <hr>
          </div>
      </div>
  {% endfor %}
{% endblock %}
