{% extends 'SNS/auth.html' %}
{% block authContent %}
  {% if my_like_list|length > 1 %}
    {% for post in my_like_list %}
        <div class="post">
            <div class="date">
              <p>author:
                <a href="{% url 'user_post' pk=post.author.pk %}">
                  {{ post.author }}
                </a>
               </p>
              <p>published: {{ post.pub_date }}</p>
              <p>text:
                <a href="{% url 'post_detail' pk=post.pk %}">
                  {{ post.text }}
                </a>
              </p>
              <hr>
            </div>
        </div>
    {% endfor %}
  {% else %}
      You haven't liked any posts.
  {% endif %}
{% endblock %}
